each i in Array.from({ length: 50 }, (_, i) => i)
  div(class="snowflake")
.notice
  .wrap
    = "🎄 Vi auguriamo con il nostro "
    a(href="/adventcalendar/") Calendario dell'Avvento
    = " un felice Natale! 🎅"
