extends /template.pug

block vars
  - const title = 'Bitcoin im Ländle'
  - const description = 'Da venerdì 27.05.2022 a domenica 29.05.2022 — Hotel Princess Plochingen'
  - const cardImage = 'https://einundzwanzig-stuttg.art/wp-content/uploads/2022/03/FMxz9gRWQAIHht0-1024x715.jpg'

block main
  #events.wrap
    section
      h1= title

      :markdown-it(html linkify typographer)
        ## Data e Luogo

        **Da venerdì 27.05.2022 a domenica 29.05.2022**

        [Hotel Princess Plochingen](https://hotel-princess.de/)
        <br>
        Widdumstraße 3 (direkt am Banhof)
        <br>
        73207 Plochingen

        Organizzato da [Einundzwanzig Stuttgart](https://einundzwanzig-stuttg.art/)

        ## Filosofia

        Nel 2021, dalla comunità di Twenty-One Podcast sono nati numerosi gruppi di incontro Bitcoin in tutta la regione DACH. Il gruppo di Stoccarda desidera promuovere ulteriormente lo scambio nella comunità Bitcoin del DACH e invita pertanto tutti i Bitcoiners a "Bitcoin im Ländle" l'ultimo fine settimana di maggio 2022.

        All'insegna del motto "Schaffa schaffa satoshis schdapla", i partecipanti potranno assistere a conferenze, discussioni e workshop su Bitcoin presso l'Hotel Princess (a Plochingen, vicino a Stoccarda). Immergetevi nella tana del coniglio di Bitcoin con noi per un intero fine settimana e perdetevi con altri Bitcoiners nei vari corridoi della tana del coniglio.

        I partecipanti possono contare su volti e voci familiari della scena con cui trascorrere un intero fine settimana parlando di Bitcoin, scuola austriaca, rete Lightning, meme e molto altro ancora.

        Ci vediamo a Bitcoin im Ländle!

        ![Logo di Bitcoin im Ländle](/img/events/bitcoin-im-laendle-2022.jpg)

        ## Visione

        L'obiettivo dell'evento è promuovere l'adozione di Bitcoin, scambiare idee con persone che la pensano allo stesso modo e divertirsi.
        Vi aspettano vari interventi, workshop, discussioni appassionanti, un luogo dove sentirsi bene, una mostra d'arte su Bitcoin e, naturalmente, cibo e bevande deliziosi. Per 3 giorni trascorreremo del tempo insieme nella bolla di Bitcoin e faremo i prossimi passi verso l'iperbitcoinizzazione.

        ## Partecipazione

        Tutte le informazioni sui biglietti sono disponibili sul sito https://einundzwanzig-stuttg.art/.

        ## Contatto

        Se siete interessati a partecipare a **Bitcoin im Ländle** presso l'Hotel Princess Plochingen, seguite l'account Twitter e il gruppo telegram di Bitcoin im Ländle, dove pubblicheremo tutte le informazioni e le ulteriori procedure:

        - [Twitter account Bitcoin im Ländle](https://twitter.com/EinundzwanzigS)
        - [Telegram Bitcoin im Ländle](https://t.me/+if7YZSWd40Q2ZjUy)
