extends /template.pug

block vars
  - const title = 'Satoshis Bleibe 2022'
  - const description = 'Da venerdì 18.02.2022 a domenica 20.02.2022 — Alte Kirche Bernkastel-Wehlen'
  - const cardImage = '/img/events/satoshis-bleibe-2022.png'

block main
  #events.wrap
    section
      h1= title

      :markdown-it(html linkify typographer)
        ## Data e Luogo

        **Da venerdì 18.02.2022 a domenica 20.02.2022**

        [Alte Kirche Bernkastel-Wehlen](https://www.bleibe.de/kirche.html)
        <br>
        Brückenstraße 15
        <br>
        54470 Bernkastel-Wehlen

        ## Filosofia

        Bitcoin connette. Ecco perché abbiamo deciso di ospitare questo Meetup speciale e abbiamo scelto questo nome. Tutti sono i benvenuti al **Satoshi's Place**, sia che si tratti di neofiti di Bitcoin che esperti. Il **Satoshi's Place** è ciò che **noi** lo rendiamo.

        Il Bitcoin è per **tutti** e non esclude nessuno. Allo stesso modo, Bitcoin è diverso per tutti. Ecco perché ci riuniamo come comunità aperta per condividere le nostre idee e i nostri punti di vista.

        Il protocollo Bitcoin di Satoshi Nakamoto ha gettato le basi per un movimento che ci unisce al di là dei confini e delle differenze. **Insieme** possiamo cambiare le cose, insieme** siamo forti.

        ![Logo von Satoshis Bleibe 2022](/img/events/satoshis-bleibe-2022.png)

        Il fine settimana a Bernkastel-Wehlen vuole essere un luogo **familiare** per condividere, imparare e fare nuove conoscenze. Un programma rilassato durante il fine settimana fornisce il necessario intrattenimento e include alcuni punti giornalieri emozionanti che rendono l'evento unico nella sua forma.
        
        ## Partecipazione

        Poiché la capienza della chiesa e dell'adiacente caserma dei vigili del fuoco è limitata a un massimo di **32** persone, possiamo offrire solo pochissimi biglietti.

        I seguenti servizi sono inclusi nella quota di partecipazione:

        | Biglietto standard | Biglietto per bambini |
        |--------------------|------------------|
        | Accesso all'alloggio per l'intero weekend | Prenotabile solo in combinazione con un biglietto standard |
        | Alloggio nella Bleibe (chiesa / caserma dei pompieri) - Attenzione: non camere singole, ma camere condivise con altri Bitcoiners | Alloggio nella Bleibe (chiesa / caserma dei pompieri) |
        | T-Shirt / Felpa con cappuccio abbinata all'evento - colore selezionabile | T-Shirt / Felpa con cappuccio abbinata all'evento - colore selezionabile |
        | Cibo e bevande all inclusive | Cibo e bevande all inclusive |
        | **Prezzo incl. Maglietta: 285 €**  | **Prezzo incl. Maglietta: 150 €** |
        |  **Prezzo incl. Felpa: 300 €** | **Prezzo incl. Felpa: 165 €** |

        ## Pagamento

        L'evento e la quota di partecipazione sono destinati a coprire i costi sostenuti e l'eventuale eccedenza sarà successivamente devoluta all'associazione **Twenty-One** a nome di tutti i partecipanti. In alternativa, è possibile votare il **Satoshi's Lead 2022** per sostenere un'altra organizzazione/progetto.

        Il pagamento della quota di partecipazione può essere effettuato tramite **Bitcoin** / **Lightning**.

        ## Programma

        Il programma che segue è deliberatamente progettato per essere molto **aperto** e **libero**, in modo che i partecipanti siano invitati a suggerire autonomamente ulteriori attività, presentazioni o discussioni. Nella sala principale della chiesa abbiamo la possibilità di proiettare presentazioni, video conferenze dal vivo o simili tramite un grande televisore. Se desiderate portare il vostro programma, contattateci.

        Aggiorneremo il programma qui non appena saranno definiti altri punti del programma.

        ### Venerdì

        | Orario | Tema |
        |------|-------|
        | dalle ore 15 | Arrivo e check-in |
        | ca. 18:00 | Kick-off |
        | ca. 19:00 | Cena insieme |
        | ca. 20:30 | Programma serale |

        ### Sabato

        | Orario | Tema |
        |------|-------|
        | 8:30 | Colazione |
        | 10:00 | Workshops I |
        | 12:30 | Pranzo |
        | 14:00 | Piccola passeggiata lungo la Mosella |
        | 15:30 | Workshops II |
        | 18:30 | Cena insieme |
        | 20:30 | Programma serale |

        ### Domenica

        | Orario | Tema |
        |------|-------|
        | 8:30 | Colazione |
        | 11:00 | Escursione breve comune - tour delle erbe con Nick |
        | Tutto il giorno | Partenza a piacere, la chiesa è disponibile fino alle 22.00 |

        ## Contatti

        Se siete interessati a partecipare al **Satoshi's Bleibe 2022** a Bernkastel-Wehlen, seguite l'account Twitter del Bleibe, dove pubblicheremo tutte le informazioni e le ulteriori procedure:

        [Twitteraccount Satoshis Bleibe](https://twitter.com/satoshisbleibe)
