extends /template.pug

block vars
  - const title = 'Satoshis Beach 2022'
  - const description = 'Sabato 18.06.2022 — Seaside Beach Baldeney'
  - const cardImage = '/img/events/satoshis-beach-2022.png'

block main
  #events.wrap
    section
      h1= title

      :markdown-it(html linkify typographer)
        ## Data e Luogo

        ** Sabato 18.06.2022 **

        [Seaside Beach Baldeney](https://seaside-beach.de/)
        <br>
        Freiherr-vom-Stein-Straße 384
        <br>
        45133 Essen

        ## Il Einundzwanzig NRW Meetup

        I ventuno gruppi locali in NRW sono ben collegati tra loro nella vita digitale di tutti i giorni e si frequentano durante le loro riunioni. Sempre più spesso è sorto il desiderio di incontrarsi di persona in un gruppo più grande e di conoscersi 🤗 Dovrebbe essere una festa estiva al lago, con tutto ciò che è importante nel bagaglio: barbecue, birra, nuoto e ampie chiacchierate su bitcoin sotto un sole che si spera cocente. Per i più attivi, ci sarà un lago, stand-up paddling, tiro con l'arco, pallavolo e molto altro ancora. Mettete in valigia il costume da bagno e venite: non vediamo l'ora di vedervi! 🌴

        ![Logo von Satoshis BEACH 2022](/img/events/satoshis-beach-2022.png)

        ## Visione

        Nessun relatore, nessun workshop: solo un bel momento! ☀️

        Dovrebbe essere una bella giornata con tutti i Plebisciti del NRW, in cui la nostra comunità diventa ancora più unita - ma anche dai dintorni tutti i Bitcoiners sono i benvenuti!

        ## Tickets

        ** 45,- EUR a persona - Lightning⚡️only! **

        Il biglietto comprende l'ingresso all'area Seaside Beach e il catering con una ricca offerta di barbecue, insalate e bevande.

        L'accesso al parco del Seaside Beach Baldeneysee è possibile a partire dalle 10:00 del mattino. La grigliata nell'area barbecue coperta avrà luogo dalle 15:00 alle 17:00. Le bevande saranno disponibili nello stesso orario dalle 15:00 alle 22:00.

        Il self-catering si applica prima delle 15:00. In tutta la struttura sono disponibili vari snack e bevande. ** Non è consentito portare con sé cibo e bevande. **

        e volete rendere la giornata un po' più attiva, siete invitati a dare un'altra occhiata alle attività proposte. Bikini 👙 e costumi da bagno 🩳 non devono assolutamente mancare.

        ## Vendite di biglietti

        I biglietti possono essere acquistati dagli organizzatori, che possono essere contattati via Telegram.

        - [gmblr247](https://t.me/gmblr247)
        - [Altbierjupp](https://t.me/Altbierjupp)
        - [actionslave](https://t.me/actionslave)
        - [systemling32](https://t.me/systemling32)
        - [selfkant_blitz](https://t.me/selfkant_blitz)
        - [Sambal_Oelek](https://t.me/Sambal_Oelek)


        Biglietti solo fino ad esaurimento scorte! Dopo il pagamento riceverete l'accesso al gruppo Beach Telegram dei Satoshis.

        Informazioni aggiornate sull'evento e sui Meetup NRW sono disponibili sul nostro account Twitter: (https://twitter.com/einundzwanzigNW)

        Ci aspettiamo tanto sole ☀️, tanta plebe e uno scambio vivace con voi 🤙
