extends /template.pug

block vars
  - const title = 'Sommerfest in der Hodler Heide 2022'
  - const description = 'Sabato 11.06.2022 — Der Schafstall, Handeloh'
  - const cardImage = 'https://img.youtube.com/vi/F71BT5es1aM/hqdefault.jpg'

block main
  #events.wrap
    section
      h1= title

      :markdown-it(html linkify typographer)
        ## Data e Luogo

        **Sabato 11.06.2022 dalle ore 12:00 Uhr**

        [Der Schafstall](https://der-schafstall.de/)
        <br>
        Am Büsenbach 35
        <br>
        21256 Handeloh

        ## Il Einundzwanzig Norddeutschland Meetup

        Desideriamo invitarvi a una festa estiva nella splendida Landa di Luneburgo.
        In questo festival ci saranno molte opportunità per informarsi su Bitcoin, per toccare con mano e pagare.

        Il tutto in modo informale e con molto divertimento. In più, naturalmente, il delizioso catering del nostro ospite "[L'ovile](https://der-schafstall.de/)".
        
        Sarà un festival per tutta la famiglia e con tanto divertimento.

        <a href="https://www.youtube.com/watch?v=F71BT5es1aM" data-id="F71BT5es1aM" class="ytEmbed" style="background-image:url(https://img.youtube.com/vi/F71BT5es1aM/hqdefault.jpg);">
        <iframe title="YouTube" data-src="https://www.youtube-nocookie.com/embed/F71BT5es1aM?&amp;autoplay=1&amp;autohide=1&amp;modestbranding=1&amp;color=white&amp;rel=0" allow="autoplay;encrypted-media;picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
        </a>

        ## Programma

        - Serie di interventi: Economia e Bitcoin
          1. Scuola austriaca di economia
          2. Situazione economica attuale
          3. Bitcoin come soluzione
          4. Il mining di Bitcoin in pratica
        - Registrazione dal vivo di un episodio del Podcast Twenty-One
        - Musica dal vivo: Pleb Rap
        - Raduno Bitcoin nella brughiera: divertimento, giochi e premi
        - Bitcoin da provare

        ## Registrazione

        Non ci sono biglietti, l'ingresso è gratuito e tutti sono i benvenuti.

        Tuttavia, abbiamo bisogno del vostro aiuto per stimare il numero di partecipanti:
        È sufficiente comunicare brevemente nella [registrazione](https://nuudel.digitalcourage.de/6sLVDIciMEVA8Wfa) quante persone parteciperanno alla festa estiva.

        Non esitate a venirci a trovare nel Einundzwanzig Meetup Norddeutschland [Telegram-Gruppe](http://norden.einundzwanzig.space)
        o seguiteci su [Twitter](https://twitter.com/Einundzwanzig_N).
