extends /template.pug

block vars
  - const title = 'Libri'
  - const description = 'Elenco libri della community Ventuno.'

block main
  #books.wrap
    section
      h1= title
      p= description

      :markdown-it(html linkify typographer)
        È possibile contribuire alla realizzazione e traduzione di nuovi libri tramite [Pull Request]().
        Ecco un [video tutorial]() su come creare una nuova richiesta di pull.

