extends /template.pug

block vars
  - const current = episodes.shift()
  - const title = categoryName
  - const description = 'Vi riportiamo le notizie su Bitcoin della settimana, oltre a interviste e molto altro. Potete anche scoprire come altre persone sono entrate in Bitcoin.'
  - const cardImage = `/img/cover/${category}.png`

block main
  #podcast.podcast-category.wrap
    section
      h1= site.meta.title
      p= description
      +categories(categoryName)

      h1= categoryName
      h2 Ultimo Episodio
      .latest
        +episodePlayer(current)

    if episodes.length
      section
        h2 Altri Episodi
        .episodes
          each e in episodes
            +episodeItem(e)
