extends /template.pug

block vars
  - const title = 'Donazioni'
  - const description = 'Abbiamo già supportato i seguenti progetti, iniziative e sviluppatori con contributi di riconoscimento da parte della comunità.'

block main
  #donations.wrap
    section
      h1= title

      h2 Panoramica
      p= description

      ul.donations
        each s in donationoverview
          +spende(s)

      h2 Registro donazioni
      p Consideriamo questi progetti, iniziative e sviluppatori degni di essere sostenuti.

      :markdown-it(html linkify typographer)
        È gradita l'aggiunta di nuove proposte tramite [Pull Request](https://github.com/Einundzwanzig-Podcast/einundzwanzig.space/edit/master/content/donationregister.json).
        Ecco un [video tutorial](https://www.youtube.com/watch?v=BNJc9LExEzU) su come creare una nuova richiesta di pull.

      ul.donations(data-shuffle)
        each s in shuffle(donationregister)
          +spende(s)
