extends /template.pug

block vars
  - const title = 'Social'

block main
  #social.wrap
    section
      h1= title

      ul
        li
          a(href="https://twitter.com/VentunoBtc" rel="nofollow noopener" target="_blank") Twitter 
        li
          a(href="https://t.me/ventunobtc" rel="nofollow noopener" target="_blank") Telegram
        //- li
        //-   a(href="" rel="nofollow noopener" target="_blank") YouTube
        li
          a(href="https://www.instagram.com/ventunobtc" rel="nofollow noopener" target="_blank") Instagram
        //- li
        //-   a(href="" rel="nofollow noopener" target="_blank") Linktree
          