extends /template.pug

block vars
  - const title = 'Social'

block main
  #social.wrap
    section
      h1= title

      ul
        li
          a(href="" rel="nofollow noopener" target="_blank") Twitter 
        li
          a(href="" rel="nofollow noopener" target="_blank") Telegram
        li
          a(href="" rel="nofollow noopener" target="_blank") YouTube
        li
          a(href="" rel="nofollow noopener" target="_blank") Instagram
        li
          a(href="" rel="nofollow noopener" target="_blank") Linktree
          