extends /template.pug

block vars
  - const title = 'Team'
  - const description = 'Nel tempo libero, la community si ritrova a discutere di Bitcoin.'
  - const members = Object.values(team)
  - const core = members.slice(0, 2)
  - const crew = members.slice(2)

block main
  #team.wrap
    section
      h1= title
      p= description
      
      :markdown-it(html linkify typographer)
        Portiamo discussioni, [Interviste](/podcast/) e la migliore [Letteratura](/podcast/) bitcoiner, cypherpunk ed economica.
        Potrete seguire anche i nostri approfondimenti [Economici](/podcast/) e il nostro [Tour](/podcast/) per l'Italia e nel mondo.

      h2 Core
      ul.members(data-shuffle)
        each m in shuffle(core)
          +member(m)
    section
      h2 Crew
      ul.members(data-shuffle)
        each m in shuffle(crew)
          +member(m)
