extends /template.pug

block vars
  - const title = 'Gruppi Telegram'
  - const description = 'Una lista di gruppi Telegram della comunità Ventuno.'

block main
  #telegram.wrap
    section
      h1= title
      p= description

      :markdown-it(html linkify typographer)
        È possibile richiedere l'aggiunta di nuovi gruppi effettuando una [Pull Request](https://github.com/ventunobtc/ventuno.space/edit/master/content/telegram.json).
        <!--Ecco un [video tutorial]() su come creare una nuova richiesta di pull.-->

      ul
        each group in telegram
          li
            a(href=group.url rel="nofollow noopener" target="_blank")= group.name
            if group.members
              = ' '
              small.members= `(${group.members} Membri)`
